*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    width: 1626px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    background-color: getColor('dark08');
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}